@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Roboto:wght@100;300;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background-image: url(./assets/background.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    overflow: hidden;
}
button {
    background-color: transparent;
    border: none;
    color: white;
    text-decoration: none;
}
li {
    list-style: none;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}
.header .card {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border: 10px solid rgba(255, 255, 255, 0.3);
}
.header > .name {
    font-family: "lobster", sans-serif;
    color: white;
    text-align: center;
}
.card > img {
    width: 100%;
}
.treelink {
    width: 30%;
    min-height: 40vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
}

.link {
    cursor: pointer;
    width: 100%;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    column-gap: 10px;
    border-radius: 5px;
}
.link:hover {
    transform: scale(1.1);
    transition: 0.2s;
}
.link p {
    font-size: 1.2em;
    font-family: "Poppins", sans-serif;
    font-family: "Roboto", sans-serif;
}
.icon{
    width: 2em;
    height: 2em;
}
#tesoura {
    transform: rotate(45deg);
}
.popup-wrapper {
    position: fixed;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
}
.popup {
    width: 35%;
    min-height: 60vh;
    background-color: rgb(10, 10, 10);
    border-radius: 5px;
    box-shadow: 0 0 16em rgba(0, 0, 0, 0.5);
    padding: 1em;
}
@keyframes effectPopup{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.popup > header {
    display: flex;
    align-items: flex-start;
    column-gap: 20px;
    color: white;
}
#button-close-popup {
    cursor: pointer;
    font-size: 1.5em;
    background-color: transparent;
    border: none;
    color: white;
}
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.form-group > label {
    color: white;
    font-size: 1.1em;
}
.form-group > input, select {
    width: 100%;
    padding: 1em;
}
.form-group > span {
    color: red;
}
.active {
    display: flex;
    animation: effectPopup 1s;
}
.button-submit {
    cursor: pointer;
    width: 100%;
    padding: 0.5em;
    font-size: 1.2em;
    background-color: blue;
}
.sucess {
    outline: green solid 2px;
}
.error {
    outline: red solid 2px;
}

@media (max-width: 750px) {
    .treelink {
        width: 80%;
    }
    .popup{
        width: 80%;
    }
}
